@import "tailwindcss";

.bg-garden {
    background-image: url('/bg-garden.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    background-position: top left;
    image-rendering: pixelated;
  }

  .lunita-sprite {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
  